[Desktop Entry]
Version=0.1
Name=Screenshot
Comment=Take a screenshot
Exec=screenshoot
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
